# Archives
*.zip

# Compiled binaries
*.ex5
*.exe
*.dll
*.so
*.py[cod]
*.o
*.out

# Checkpoints
.ipynb_checkpoints/

# Editor folders
.vscode/

# Ignore data, logs, and models directories
data/
logs/
.idea/

# Cache directories
__pycache__/
.cache/
.pytest_cache/

# Logs
*.log
logs/

# Data and models
data/
datasets/
models/
