# Archives
*.zip

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
.vscode/

# Data, logs, models
data/
logs/
models/

# Compiled binaries
*.ex5
*.onnx
=======
# Ignore archive files
*.zip

# Compiled binaries
*.ex5
*.exe
*.dll
*.so
*.py[cod]
*.o
*.out

# Checkpoints
.ipynb_checkpoints/

# Editor folders
.vscode/

# Ignore data, logs, and models directories
data/
logs/
.idea/

# Cache directories
__pycache__/
.cache/
.pytest_cache/

# Logs
*.log
logs/

# Data and models
data/
datasets/
models/
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/notebook_env/pyvenv.cfg
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/notebook_env/bin/python
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/notebook_env/bin/python3
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/notebook_env/bin/python3.12
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/venv/pyvenv.cfg
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/venv/bin/python
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/venv/bin/python3
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/venv/bin/python3.12
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/=2.8.0
top5/RCS_CNN_LSTM_Notebook/RCS_CNN_LSTM_Notebook/venv/lib64
top5/backup/ONNXStrategy_lookback-20,commission-0_0001_.html
top5/exported_models/EURUSD_CNN_LSTM_20250613_174022.onnx
